* {
	box-sizing: border-box;
	}	

#container {
	width: 960px;
}

header {
	background-color: #ffffff;
	margin: 0 auto;
	padding: 0;
	height: 70px;
	border-bottom: 2px solid #cccccc;
	width: 100%;
}

.namebox {
	background-color: #4aaaa5;
	height: 68px;
	width: 15%;
	display: inline-block;
	margin-left: 60px;
	float: left;
}

.name {
	color: white;
	font-size: 25px;
	text-align: center;
	padding-top: 20px;
	font-family: 'Georgia', Times, Times New Roman, serif;
}
	
ul > li {
	display: inline;
}

.pages {                  
	color: #c0c0c0;
	list-style-type:none;
	display: inline;
	float: right;
	padding-left: 75px;
	padding-bottom: 10px;
	font-size: 15px;
	margin-top: 25px;
	word-spacing: 20px;
	width: 33%;
	overflow: auto;
}

body {
	background-image: url("../IMAGES/cork-wallet.png")	
}

body {
	margin: 0px;

}

.AboutMeBox {
	height: 450px;
	width: 600px;
	background: white;
	float: left;
	margin-top: 50px;
	margin-left: 50px;
	padding: 25px;
}

h1 {
	color: #4aaaa5;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 25px;
	padding: 0;
	margin: 0;
}

p {
	color: #777777;
	font-family: 'Ariel', 'Helvetica Neue', sans-serif;
}

.contactbox {           /* Styles contact box on page 2 */
	height: 500px;
	width: 600px;
	background: white;
	float: left;
	margin-top: 50px;
	margin-left: 50px;
	padding: 25px;
}

form {
	margin: 0 auto;
	width: 450px;
}

form div + div {
	margin-top: 3em;
}

label {
	color: #777777;
	font-family: 'Ariel', 'Helvetica Neue', sans-serif;
	display: inline-block;
	text-align: right;
}

input {
	color: black;
	height: 25px;
	width: 400px;
}

textarea {
	color: #777777;
	display: inline-block;
	margin: 0 auto;
	width: 400px;
	height: 150px;
}

button {
	background-color: #4aaaa5;
	color: white;
	font-family:'Ariel', 'Helvetica Neue', sans-serif;
	border: 1px solid #4aaaa5;
	height: 35px;
	width: 80px;
	font-size: 15px;
	margin: 0;            /* Having trouble positioning button */


}

.socialmediabox {
	height: 250px;
	width: 270px;
	background: white;
	float: right;
	margin-top: 50px;
	margin-left: 10px;
	padding: 25px;
	/*overflow: auto;
	clear: both;*/
}

h3 {
	color: #4aaaa5;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font size: 25px;
	text-align: center;
}

#iconlinks {
	text-align: center;
	padding: 25px;
	word-spacing: 10px;
}

.icons {
	width: 45px;
	height: 45px;
	padding: 0;	
}

footer {
	background: #666666;
	height: 70px;
	border-top: 4px solid #4aaaa5;
	position: absolute;
	bottom: 0;
	width: 100%;
	clear: both;

}

#footertext {
	color: #c0c0c0;
	font-size: 10px;
	text-align: center;
	padding: 25px;
}






